<p>Hello <%= @manager.user_name %>,</p>
<p>Your feedback is still pending for <b><%= @employee.user_name %></b> for <%= @review_request.created_at.strftime('%B, %Y') %>. </p>
<p>Please submit your feedback when you get a chance!!</p>
<p>Please click <%=link_to "here", reviews_url %> to submit feedback. </p>
<p>
  Thanks,<br>
  HR Team
</p>