<p>Hello <%=@leave.user.user_name %>,</p>
<% if @leave.status.to_s.downcase.eql?('unapproved') %>
  <p>Your leave has been unapproved.</p>
<% else %>
  <p>Your leave is still pending.</p>
<% end %>
<table class="table">
  <tbody>
    <%= render partial: 'leave_detail', locals: {leave: @leave} %>
  </tbody>
</table>
<p>Please click <%=link_to 'here', leave_url(@leave) %> to view/cancel the leave request. </p>
<p>
  Thanks,<br>
  HR Team
</p>