 <h3>Edit Employee</h3>
 <hr>
 <%= simple_form_for @employee, url: admin_employee_path do |f| %>
  <%= render partial: 'form', :locals => {:f => f} %>
  <div class="col-md-6 form-group">
  </div>
  <div class="col-md-6 form-group text-right">
    <%=f.submit "Update", class: "btn btn-primary" %>
  </div>
 <%end%>