<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    Welcome! <strong><%= current_user.user_name if user_signed_in? %></strong>
  </div>
  <div class="col-md-3">
  </div>
</div>