.simple-calendar table tr td.wday-0{
  background: red !important;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.simple-calendar table tr td.selected{
  background: green !important;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.simple-calendar table tr td.selected a{
  color: #fff !important;
}
.simple-calendar table tr td.taken{
  background: gray !important;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff; 
}
.simple-calendar table tr td.holiday{
  background: red !important;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.simple-calendar table tr td.saturday-off{
  background: red !important;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff; 
}
.simple-calendar table tr td.orange{
  background: orange !important;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff; 
}
.simple-calendar table tr td span{
  color: #000;
}
.simple-calendar table tr td a{
  color: #337ab7;
}
